{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
        <div class="h2 text-center p-3" style="text-shadow:2px 2px 2px black;">ABOUT <b style="color:navy;">Us  <i class="fa fa-info-circle"></i></b></div>
    <div class="col-sm-4 pt-2">
        <img src="{% static 'images/pic2.webp'%}" style="height:450px;" class="card-img-top width-100" alt="...">
    </div>
    <div class="col-sm-8 pt-3 fs-5">
        <b class="h3" style="color:navy;"><u>INTRTODUCATION</u></b><br/>
        My college is basically a college website of a college developed and designed by the student of
        polytechnic college only where the complete details of the college their establishment date .
         management  members  is department and course everything is mentioned which help other people as
        well to know about the respected college easily and accurately . The website also contains the news
        slider and contact us page as well throught which Students can get all update about their college and
        contact the respected authority easily.<br/><br/>

        <b style="color:navy;"><u>OBJECTIVE</u></b><br/>
        To direct our service of education to the student ensuring their development by unfolding &
        activating their unique potential , creative ability & equipping them whit technical & generic
        skills so that they would prove a talent pool to the industry & society at large
        To produce techincally comptent , quality conscious engineers.
        To develop functionally suitable and conducious for students and staff for academic purpose
        To strengthen industry institute interaction.
    </div>
</div>

{% endblock %}