 {% extends 'base.html'%}
 {% load static %}

 {% block content %}
 <style>
     .s
     {
     background-image:linear-gradient(navy,skyblue);
     }
      .card:hover
      {
   transform:scale(1.1);
   background:#e5f3ff;
   transition:all ease 2s;
   box-shadow:0px 0px 20px 7px black;
   }


 </style>
 <div class="row">
      <div class="col-sm-12">
      <div class="h2 text-center p-3" style="text-shadow:2px 2px 2px black;">OUR <b style="color:navy;">COURSES </b> <i class="fa fa-book"></i></div>

    <div class="row s">
              {% if d%}
             {% for x in d%}
           <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/{{x.cpic}}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h6 class="card-title">Course Name:<b style="color:navy">{{x.cname}}</b></h6>
        <p class="card-text">
            <b>Course fee:<b style="color:navy">{{x.cfee}}</b></b>

        </p>
          <p class="card-text"><small class="text-muted">Update date:<b style="color:navy">{{x.cdate}}</b></small></p>
      </div>
    </div>
  </div>
</div>
  </div>

              {% endfor%}
             {%endif%}
    </div>
     </div>

 </div>
{% endblock %}
