 {% extends 'base.html'%}
 {% load static %}

 {% block content %}

 <style>
     .s
     {
     background-image:linear-gradient(navy,skyblue);
     }
      .card:hover
      {
   transform:scale(1.1);
   background:#e5f3ff;
   transition:all ease 2s;
   box-shadow:0px 0px 20px 7px black;
 </style>
<div class="row">

 <div class="col-sm-12">
       <div class="h2 text-center p-3" style="text-shadow:2px 2px 2px black;">OUR <b style="color:navy">FACULTY</b>   <i class="fa fa-users"></i></div>
  <div class="row s">

  <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/f5.webp'%}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
            <h4>Pro.Viplav Srivastava</h4>
            <h5>Head of Department,</h5>
            <h5>MBA</h5>
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
      <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/f8.jpg'%}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
            <h4>Pro.Deepak Bharti</h4>
            <h5>Head of Department,</h5>
            <h5>M.Tech</h5>
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
      <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/f9.jpg'%}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
            <h4>Pro.Nikhil Singh</h4>
            <h5>Head of Department,</h5>
            <h5>B.Tech</h5>
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
      <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/f3.jpg'%}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
            <h4>Pro.Savita bhaskar</h4>
            <h5>Head of Department,</h5>
            <h5>diploma</h5>
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
      <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/f4.webp'%}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
            <h4>Pro.Alpana Sharma</h4>
            <h5>Head of Department,</h5>
            <h5>MBA</h5>
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
      <div class="col-sm-3 p-3">
   <div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/f2.jpg'%}" class="img-fluid rounded-start" style="height:200px;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
            <h4>Pro.Divya Singh</h4>
            <h5>Head of Department,</h5>
            <h5>MBA</h5>
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
 </div>

</div>


 {% endblock %}